<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品评价页面</title>
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div id="registerTable" class="layui-form m-form" style="margin-top: 20px">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>商品评价</legend>
    </fieldset>
    <form class="layui-form" action="">
        <input type="hidden" name="id" id="orderId">
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <textarea name="content" id="content"
                          lay-verify="required" placeholder="请填写内容"
                          class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">好评度</label>
            <div class="layui-input-block">
                <input type="radio" name="level" value="1" title="好评" checked="">
                <input type="radio" name="level" value="2" title="中评">
                <input type="radio" name="level" value="3" title="差评">
            </div>
        </div>

        <br>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit="saveBtn" lay-filter="saveBtn">提交</button>
            </div>
        </div>

    </form>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'upload'], function () {
        var form = layui.form,
            upload = layui.upload,
            layer = layui.layer,
            $ = layui.$

        form.on('submit(saveBtn)', function (data) {
            var orderId = localStorage.getItem("orderId");
            $.ajax({
                url:'/comment/add',
                type:'post',
                data: {
                    content : $("#content").val(),
                    level :  $("input[name='level'][checked]").val(),
                    orderId : orderId
                },
                success:function (data) {
                    if (data.code == '200'){
                        layer.msg("评价成功!", {icon:1, time:1000, shade:0.4}, function () {
                            localStorage.clear();
                            parent.location.reload()                        })
                    }else {
                        layer.msg(data.msg,{icon:2,time:900})
                    }
                },
                error:function () {
                    layer.msg("请求失败",{icon:2,time:800})
                }
            })
            return false;
        });
    });

</script>
</body>
</html>